albumins_pdb_files
albumins_pqr_files
albumins_results
intermediate_pdb_files
negative_controls_results
negative_pdb_files
negative_pqr_files
polyterpene_ligand_images
positive_pdb_files
positive_pqr_files
protein_clustering_results
feature_cache
components.cif
patch_coordinates_cache
unet_training_output
training_results
__pycache__